:root{
  font-size: 16px;
  --main-colour: beige

  }
.portada{
  background-color: var(--main-colour);
  
  }
.portada .titulo{
  color: orange;
  font-size: 40px;
  font-weight: bold;
}
.navbar{
  background-color: rgb(188, 174, 211);
}
.navbar.link{
  display: none;
  visibility: hidden;
}
.link{
  text-decoration: none;
  color: black;
}
.seccion .subtitles{
  color: olive;
  font-size: 20px;
  font-weight: bold;
  }
.main-content{
  background-color: var(--main-colour);
}
.footer{
  background-color: rgb(188, 174, 211);
}
.portada .imagen{
  width: 100vw;
}
